<% layout('../views/layouts/boilerplate') -%>
<div id="cluster-map"></div>
<h1>All Campgrounds</h1>
<div>
    <a href="/campgrounds/new">Add Campground</a>
</div>
<ul>
    <% for (let campground of campgrounds) {%>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <% if (campground.images.length) { %> 
                    <img src="<%=campground.images[0].url%>" class="img-fluid" alt="">
                <% } else { %>
                    <img src="https://res.cloudinary.com/dcmbiwych/image/upload/v1634288943/YelpCamp/rltloev2plrkn8j90ptm.jpg" class="img-fluid" alt="">
                <% } %> 
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%=campground.title%></h5>
                    <% console.log(campground) %> 
                    <p class="card-text"><%=campground.description%></p>
                    <p class="card-text">
                        <small class="text-muted"><%=campground.location%></small>
                    </p>
                    <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">View <%=campground.title%></a>
                </div>
            </div>
        </div>
    </div>
    <% }%>
</ul>

<script>
  const mapToken = '<%=process.env.MAPBOX_TOKEN%>';
  const campgrounds = { features: <%- JSON.stringify(campgrounds) %> }
</script>
<script src="/js/clusterMap.js"></script>